@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* General Colors */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    /* Primary Colors */
    --primary: 204 55% 17%; /* Azul oscuro */
    --primary-foreground: 0 0% 95%; /* Texto blanco para contraste */

    /* Secondary Colors */
    --secondary: 172 58% 72%; /* Azul claro */
    --secondary-20: 172 58% 72% / 0.2;
    --secondary-30: 172 58% 72% / 0.3;
    --secondary-40: 172 58% 72% / 0.4;
    --secondary-50: 172 58% 72% / 0.5;
    --secondary-75: 172 58% 72% / 0.75;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary-bg-1: #f0f8f6;

    /* Accent (Amarillo) */
    --accent: 48 100% 50%;
    --accent-95: 48 100% 50% / 0.95;
    --accent-foreground: 222.2 47.4% 11.2%;

    /* Other Components */
    --card: #e6f2f0;
    --card-foreground: hsl(0 0% 95%);
    --card-border: #c4d9d4;

    --button-bkg: #ffcb00;
    --button-hover: #f2c500;
    --button-hover-border: #7cc7bf;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* Sidebar Colors */
    --sidebar-background: var(--primary);
    --sidebar-foreground: var(--primary-foreground);
    --sidebar-primary: var(--secondary);
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: var(--secondary-20);
    --sidebar-accent-foreground: var(--secondary);
    --sidebar-border: var(--secondary-20);
    --sidebar-ring: var(--secondary);
  }
}

.dark {
  /* General Colors */
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  /* Primary Colors */
  --primary: 204 55% 17%; /* Azul oscuro */
  --primary-foreground: 0 0% 100%; /* Texto blanco para contraste */

  /* Secondary Colors */
  --secondary: 172 58% 72%; /* Azul claro */
  --secondary-20: 172 58% 72% / 0.2;
  --secondary-30: 172 58% 72% / 0.3;
  --secondary-40: 172 58% 72% / 0.4;
  --secondary-50: 172 58% 72% / 0.5;
  --secondary-75: 172 58% 72% / 0.75;
  --secondary-foreground: 222.2 47.4% 11.2%; /* Texto oscuro para contraste */

  /* Accent (Yellow) */
  --accent: 48 100% 50%; /* Amarillo */
  --accent-95: 48 100% 50% / 0.95;
  --accent-foreground: 222.2 47.4% 11.2%; /* Texto oscuro para contraste */

  /* Other Components */
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;

  /* Sidebar Colors */
  --sidebar-background: var(--primary);
  --sidebar-foreground: var(--primary-foreground);
  --sidebar-primary: var(--secondary);
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: var(--secondary-20);
  --sidebar-accent-foreground: var(--secondary);
  --sidebar-border: var(--secondary-20);
  --sidebar-ring: var(--secondary);
}
